.content-center {
  text-align: center;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-2x {
  margin-top: 30px;
}

.margin-top-4x {
  margin-top: 60px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-bottom-2x {
  margin-bottom: 30px;
}

.margin-bottom-4x {
  margin-bottom: 60px;
}

.w-100 {
  width: 100%;
}
